.listOfForums {
    overflow: scroll;
    border-style: solid;
    height: max-content;
    max-height: 70%;
  }

  
  .tableOfForums {
    height: max-content;
    width: 100%;
    position: relative;
  }

  