.mainPage_container {
  max-width: 1400px !important;
  width: 98% !important;
  padding: 1% !important;
}

.header_container {
  height: 25%;
  position: relative;
  margin-bottom: 10px;
}

.columns_container {
  height: 75%;
  overflow: scroll;
}
.mainPageLogo {
  height: auto;
  margin-top: -16px;
}
.filter_Form {
  padding: 10px 30px;
  background: #fefefe;
  flex-direction: row;
  display: flex;
}

.filter_Btn {
  height: max-content;
  width: max-content;
  padding: 10px 10px;
  margin-top: 10px;
  margin-left: 35px;
}

.filter_wrapper {
  margin-top: 20px;
  text-align: right;
}

.errMsg_NoResults {
  color: grey;
  font-weight: bold;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  padding: 30px;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  width: max-content;
  height: max-content;
  border-radius: 20px;
  background: white;
}
.containerPopup_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.popup_questions_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 30px;
}

.popup_question {
  width: 100%;
  text-align: left;
}
.popup_question_label {
  margin-right: 30px;
  font-size: 20px;
}

.containerPopup {
  margin-bottom: 10px;
  font-weight: 500;
  color: #6f6767;
}

.subtitlePopup {
  font-weight: bold;
}

.popupsBtn {
  margin: 0 30px;
}

.clearAll {
  color: rgba(7, 98, 216, 0.774);
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}
