.mainPage_container {
  max-width: 1400px !important;
  width: 98% !important;
  padding: 1% !important;
}

.header_container {
  height: 25%;
  position: relative;
}

.columns_container {
  height: 75%;
  overflow: scroll;
}
.mainPageLogo {
  height: auto;
  margin-top: -16px;
}
.filter_Form {
  padding: 0px 30px;
  background: #fefefe;
  padding-bottom: 20px;
  flex-direction: row;
  margin-top: 30px;
  display: flex;
}

.filter_Btn {
  height: max-content;
  width: max-content;
  padding: 10px 10px;
  margin-top: 10px;
  margin-left: 35px;
}
