.menuLogo {
  width: 100%;
}

.navbar-brand {
  width: 15%;
}
.nav-link {
  padding-right: 1rem !important;
  font-weight: 500;
}

#collasible-nav-dropdown::after {
  display: none;
}

.dropdown-menu {
  max-height: 400px;
  overflow-y: scroll;
}

.unseen {
  background: rgb(185, 205, 218) !important;
}

.questionAndAnswer {
  font-weight: 500;
  cursor: pointer;
}
