.inputQuestion {
  display: block;
  width: 100%;
  font-size: 16px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.addNewQuestionBtn:disabled {
  background-color: #dbf99f;
  color: #333;
}

.addNewQuestionBtn {
  display: inline-block;
  width: auto;
  padding: 0 20px;
  background-color: #777;
  font-size: 14px;
}

.question {
  display: flex;
  direction: row;
  align-items: center;
}

.deleteQuestionBtn {
  margin: 0;
  margin-left: 10px;
  width: 40px;
  border-radius: 5px;
  padding: 0;
}

.deletequestionbtn:hover {
  background-color: #999;
}
