#root {
  width: 100%;
  height: 100%;
}
.profile_user {
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  display: flex;
  height: 100%;
}
.emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img {
  text-align: center;
}
.profile-img img {
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file .input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h2 {
  color: #333;
  margin-bottom: 5%;
  font-size: 50px;
  font-weight: bold;
}
.profile-head h5 {
  color: #0062cc;
  margin-bottom: 10%;
}
.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.tabpanel {
  text-align: left !important;
}

.profile-head .nav-tabs {
  margin-bottom: 5%;
  margin-top: 5%;
}
.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #0062cc;
}
.profile-tab label {
  font-weight: 600;
}
.profile-tab p {
  font-weight: 600;
  color: #0062cc;
}
.MuiTabs-indicator {
  width: 50% !important;
}
.BackBtn {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.changePassword {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.msgPasswodSuccess {
  font-weight: 700 !important;
  font-size: 24px;
}
.editProfileBtn {
  width: max-content;
  height: max-content;
}
.cousrsesList_Item {
  font-size: large;
  padding: 5px 15px;
}
.cousrsesList {
  text-align: left;
  overflow: scroll;
  height: 300px;
  margin-top: 10px;
}
